body {
  background-color:Plum;
}

 h1{
  font-size: 25px;
  font-family:Comic Sans MS;
  color: DarkSlateGrey;
  vertical-align: middle;
  padding-left: 50px;
}

#kont {
	width: 50%;
	font-size: 18px;
  font-family:Comic Sans MS;
  color: Black;
  vertical-align: middle;
  float: left;
  padding-left: 50px;
}
	
img{
	padding-right: 50px;
	width: 400px;
	float: right;
} 